
@use '../abstracts/' as *;

$font-body: 'Merriweather', 'Lato', sans-serif;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-italic: italic;
$fw-bold: bold;
$fw-medium: medium;
$fw-bold-italic: bold italic;


   




