@use '../base/' as *;
@use '../abstracts/' as*;


    
    /*.btn {
        background-color: $white;
        color: $black;
        border: 1px solid $blue-500;
        font-weight: $fw-bold;
        @include uppercase-btn();
        .btn-primary {
            background-color: $blue-700;
            color: $white;
            border: 1px solid $blue-700;
        }  
        &:active {
            color: $white;
            background-color: $blue-700;
        }
    }*/

    .btn {
        border: 1px solid $blue-500;
        font-weight: $fw-bold;
        @include uppercase-btn();
        &.btn-primary {
            background-color: $blue-700;
            color: $white;
            border: 1px solid $blue-700;
           
        }
    
    }
    

    
