@use './abstracts/' as *;
@use './base/' as *;
@use './components/' as *;
@use './layout/' as *;
@use './utils/' as *;





.signup-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}

.form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .divider {
        width: 34px;
        height: 1px;
        border: 1px solid #939EC5     
    }
    .text-description {
        font-size: 14px;
        color: $gray
    }
}

/*.signup-input {
    padding: 12px 24px;
    width: 100%;
    border: 1px solid $blue-500;
}*/

.form-footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}







