
@mixin uppercase-btn () {
    padding: 12px 24px;
    border-radius: 24px;
    cursor: pointer;
}

/*@mixin uppercase-input () {
    padding: 12px 24px;
    width: 100%;
    border: 1px solid $blue-500;
}*/

/*@mixin uppercase-link () {
    color: $blue-500;
    text-decoration: none;
}*/
